body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.file-input {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#image-container img {
    max-width: 100%;
    margin-top: 20px;
}

#buttons-container {
    margin-top: 20px;
    text-align: center; /* 使按鈕區域內的按鈕居中對齊 */
}

#buttons-container button {
    display: inline-block;
    margin: 10px 5px; /* 調整按鈕間距 */
    width: 45%; /* 每個按鈕寬度調整為父容器的45%，使每行最多容納兩個按鈕 */
    box-sizing: border-box; /* 包括內邊距和邊框在內的總寬度計算 */
}
